* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@page {
    size: A4 landscape;
    margin: 0;
}

html,
body {
    width: 297mm;
    height: 210mm;
    margin: 0;
    overflow: hidden;
    background: #ffffff;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}

.certificado {
    width: 297mm;
    height: 210mm;
    background-image: url("Fundo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.section-titulo {
    width: 100%;
    height: 25%;
    align-content: end;
    justify-items: center;
    padding-bottom: 20px;
}

.section-conteudo {
    width: 100%;
    height: 35%;
    align-content: center;
    justify-items: center;
}

.section-assinatura {
    width: 100%;
    height: 35%;
    align-content: center;
    justify-items: center;
}

.text-titulo {
    width: 75%;
    text-align: center;
    font-family: Calibri, Arial, sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #ffc000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e5ad0b;
}

.text-destinatario {
    width: 75%;
    margin-bottom: 20px;
    text-align: center;
    font-family: Calibri, Arial, sans-serif;
    font-size: 22px;
    color: #000000;
}

.text-nome-destinatario {
    width: 75%;
    margin-bottom: 30px;
    text-align: center;
    font-family: Calibri, Arial, sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: #000000;
}

.text-descricao {
    width: 75%;
    margin-bottom: 20px;
    text-align: justify;
    font-family: Calibri, Arial, sans-serif;
    font-size: 22px;
    color: #000000;
}

.text-data {
    width: 75%;
    margin-bottom: 20px;
    text-align: center;
    font-family: Calibri, Arial, sans-serif;
    font-size: 27px;
    color: #000000;
}

.text-assinatura {
    width: 40%;
    margin-bottom: 20px;
    text-align: center;
    font-family: Calibri, Arial, sans-serif;
    font-size: 17px;
    color: #000000;
}

.linha-assinatura {
    width: 250px;
    margin: 25px;
    border: none;
    border-top: 2px solid #000000;
}